<%- include('./partials/header.ejs') %>

<div class="container">
    <h1 class="pb-3 mb-5 border-bottom">
        <%= title %>
    </h1>

    <p class="lead">
        Веб-додаток із використанням JS і Node.js & Express.js, 
        де користувачі можуть створювати пости.
    </p>

    <p>
        Текст-заповнювач має вирішальне значення для дизайнерів, щоб візуалізувати макети, не відволікаючись від
        реального вмісту.
        Це дозволяє зосередитися на естетиці та структурі, забезпечуючи збалансовану презентацію.
        Чистий макет підвищує креативність і полегшує експерименти з типографікою, кольорами та інтервалами.
        Ця практика спрощує процес проектування та допомагає зацікавленим сторонам уявити потенціал проекту.
    </p>
</div>

<%- include('./partials/footer.ejs') %>